/*START*/
#anchorpaneStart{
    -fx-background-image: url("../IMAGENS/fondoStart.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
}
#welcomeLabelStart{
    -fx-font-weight:bold;
    -fx-text-fill: #f2f4f6;
}

#continueButtonStart{
    -fx-background-color: #000209;
    -fx-text-fill: #f6f7fa;
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0, 0, 2);
}
#continueButtonStart:hover {
    -fx-text-fill: #f6f7fa;
    -fx-background-color: #14df5b;
}

/*MAIN*/
.anchorpane {
    -fx-background-color: linear-gradient(  #0a145a, #14dfc7);
}
#entrenamiento {
    -fx-background-color: #f6f7fa;
    -fx-background-radius: 25px;
    -fx-effect: dropshadow(gaussian, rgb(29, 239, 102), 5, 0, 0, 4);
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #000209;
}
#entrenamiento:hover {
    -fx-text-fill: #000310;
    -fx-background-color: #1def66;
}


#atletismo {
    -fx-background-color: #f6f7fa;
    -fx-background-radius: 25px;
    -fx-effect: dropshadow(gaussian, rgb(29, 239, 102), 5, 0, 0, 4);
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #000209;
}
#atletismo:hover {
    -fx-text-fill: #000310;
    -fx-background-color: #1def66;
}

#lesion {
    -fx-background-color: #f6f7fa;
    -fx-background-radius: 25px;
    -fx-effect: dropshadow(gaussian, rgb(29, 239, 102), 5, 0, 0, 4);
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #000209;
}
#lesion:hover {
    -fx-text-fill: #000310;
    -fx-background-color: #1def66;
}
#ligas {
    -fx-background-color: #f6f7fa;
    -fx-background-radius: 25px;
    -fx-effect: dropshadow(gaussian, rgb(29, 239, 102), 5, 0, 0, 4);
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #000209;
}
#ligas:hover {
    -fx-text-fill: #000310;
    -fx-background-color: #1def66;
}
#barra{
    -fx-background-color: #079c8f;
    -fx-border-radius: 20px;
    -fx-border-width: 2;
    -fx-background-radius: 20px;
    -fx-border-color: #1def66;
}
#usuario{
    -fx-background-image: url("../IMAGENS/user.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%100%;
    -fx-background-color: transparent;

}
#home{
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent #1def66 transparent;
    -fx-border-width: 0 0 3 0;
}
#rutina{
    -fx-background-image: url("../ICONS/iconoDerutina.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%100%;
    -fx-background-color: transparent
}

/*USUARIO*/
#anUser{
    -fx-background-color: linear-gradient(#035035, #282b42);
}
#imageView{
    -fx-effect: dropshadow(gaussian, rgb(29, 239, 102), 5, 0, 0, 10);
}
.label{
    -fx-text-fill: #f6f7fa;
    -fx-font-size: 17;
    -fx-font-weight: bold;
}
#nombreLabel{
    -fx-text-alignment: center;
}

#usuarioUser{
    -fx-background-image: url("../IMAGENS/user.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%100%;
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent #1def66 transparent;
    -fx-border-width: 0 0 3 0;
}
#homeUser{
    -fx-background-color: transparent;
}
#barraUser{
    -fx-background-color: #5b5e67;
    -fx-border-radius: 20px;
    -fx-border-width: 2;
    -fx-background-radius: 20px;
    -fx-border-color: #1def66;
}
#cerrarSesion{
    -fx-background-color: #f40606;
    -fx-font-size: 15;
    -fx-text-fill: #f6f7fa;
    -fx-font-weight: bold;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(gaussian, rgb(20, 223, 91), 5, 0, 0, 2);
}

#editar{
    -fx-background-color: #000209;
    -fx-text-fill: #f6f7fa;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgb(20, 223, 91), 5, 0, 0, 2);
}

/*EditUser*/
#ancEdit{
    -fx-background-color: linear-gradient(#035035, #01062e);
}

#name,#apellido,#email,#tele,#direcc,#user,#pass,#nie,#nie,#fechNac{
    -fx-text-fill: #f6f7fa;
    -fx-font-size: 14;
}
.text-field{
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #14df5b;
    -fx-text-fill: white;
}

#back{
    -fx-background-image: url("../ICONS/back.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 70%45%;
    -fx-background-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0), 0, 0, 0, 0);
}
#save{
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-text-fill: #f6f7fa;
    -fx-background-color: #14df5b;
}

/*ERROR*/
#error{
    -fx-background-color: #8e0c3e;
    -fx-border-color: #000209;
    -fx-border-width: 5;

}

#okbutton{
    -fx-background-color: #000209;
    -fx-text-fill: #f6f7fa;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}
#textError{
    -fx-text-fill: #f6f7fa;
    -fx-font-weight: bold;
    -fx-font-size: 12;
    -fx-text-alignment: center;
}
/*GOOD*/
#good{
    -fx-background-color: #56b376;
    -fx-border-color: #000209;
    -fx-border-width: 5;
}
#okgoodbutton{
    -fx-background-color: #000209;
    -fx-text-fill: #f6f7fa;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}
