#anchorpane {
    -fx-background-color: linear-gradient(#000310, #0a145a, #058130);
}
.label{
    -fx-text-fill: #f6f7fa;
    -fx-font-size: 12px;
    -fx-font-weight:bold;
}
#labelR{
    -fx-font-size: 20px;
    -fx-font-weight:bold;
    -fx-text-fill: #0cd161;
}

.text-field {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: white;
    -fx-padding: 2px;
    -fx-text-fill: white;
}

/* Estilo para los botones sin fondo ni borde */
.button {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-text-fill: #0cd161;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
}


#cancel {
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-text-fill: #ffff;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
}

#changePasswordButton {
    -fx-background-color: #0cd161;
    -fx-border-width: 20px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
}
