/* Estilo para la ventana principal */
#anchorpane{
    -fx-background-color: linear-gradient(  #0a145a, #14dfc7);
}

/* Estilo para el ComboBox */
.combo-box {
    -fx-background-color: #aeefc5;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-border-radius: 5px;
    -fx-alignment: center;
    -fx-text-alignment: center;
}
/* Estilo para las opciones desplegadas (list-view del ComboBox) */
.combo-box-popup .list-view {
    -fx-background-color: #aeefc5; /* Fondo azul de las opciones desplegadas */
    -fx-text-fill: white; /* Texto de las opciones */
    -fx-font-weight: bold; /* Negrita */
}

/* Estilo para las celdas de las opciones */
.combo-box-popup .list-cell {
    -fx-background-color: #aeefc5; /* Fondo azul */
    -fx-text-fill: white; /* Texto blanco */
    -fx-font-weight: bold; /* Texto en negrita */
}

/* Cambiar el color de fondo y texto al pasar el ratón */
.combo-box-popup .list-cell:hover {
    -fx-background-color: #655d5d; /* Fondo más claro al pasar el ratón */
    -fx-text-fill: black; /* Texto negro */
}

/* Estilo para la opción seleccionada */
.combo-box-popup .list-cell:selected {
    -fx-background-color: #ffffff; /* Fondo celeste de la opción seleccionada */
    -fx-text-fill: black; /* Texto negro */
    -fx-font-weight: bold; /* Texto en negrita */
}


.combo-box .label{
    -fx-text-fill: #000209;
    -fx-font-weight: bold;
}

/* Estilo para los botones */
#back {
    -fx-background-image: url("../ICONS/back.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 70%45%;
    -fx-background-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0), 0, 0, 0, 0);
}

/* Estilo para los días de la semana */
.label-dia {
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-text-fill: #1b1a1a;
    -fx-background-color: #08e195; /* Fondo para resaltar */
    -fx-padding: 10px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-alignment: center; /* Centrar el texto */
    -fx-text-alignment: center;
}

/* Estilo para cada actividad */
.vbox-actividad {
    -fx-background-color: transparent;

}
.vbox-dia {
    -fx-spacing: 10px;
    -fx-padding: 10px;
    -fx-background-color: rgb(251, 251, 251); /* Fondo translúcido */
    -fx-border-color: #08e195;
    -fx-border-width: 2px;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-margin: 10px 0; /* Separación entre días */
    -fx-text-alignment: center;
    -fx-alignment: center;
}
/* Títulos y descripciones de actividades */
.label-titulo {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #4CAF50;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.label-duracion {
    -fx-font-size: 14px;
    -fx-text-fill: #655d5d;
}

.label-descripcion {
    -fx-font-size: 14px;
    -fx-text-fill: #1b1a1a;
    -fx-wrap-text: true;
    -fx-max-width: 250px;
}

/* ScrollPane */
.scroll-pane{
    -fx-background-color: transparent;
}
.scroll-pane .viewport {
    -fx-background-color: transparent; /* Fondo transparente en el contenido */
}
.scroll-pane .content {
    -fx-background-color: transparent; /* Fondo transparente para el AnchorPane contenido */
}
.scroll-pane .scroll-bar:vertical {
    -fx-background-color: #f6f7fa; /* Fondo de la barra */
    -fx-border-radius: 10; /* Bordes redondeados para la barra */
    -fx-padding: 1; /* Espaciado interno para el track */
}

/* Estilo para el pulgar de la barra de desplazamiento vertical */
.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #08e195; /* Color del pulgar */
    -fx-background-radius: 10; /* Bordes redondeados en el pulgar */
    -fx-min-width: 10px; /* Ancho mínimo del pulgar */
    -fx-pref-width: 10px; /* Ancho preferido del pulgar */
}

/* Estilo para la barra de desplazamiento horizontal */
.scroll-pane .scroll-bar:horizontal {
    -fx-opacity: 0;  /* Hace que la barra sea completamente invisible */
    -fx-background-color: transparent;  /* Elimina el color de fondo */
    -fx-border-width: 0; /* Espaciado interno para el track */
}

/* Estilo para el pulgar de la barra de desplazamiento horizontal */
.scroll-pane .scroll-bar:horizontal .thumb {
    -fx-background-color: transparent;  /* Hace el pulgar invisible */
    -fx-min-height: 0;  /* Establece la altura mínima a 0 */
    -fx-pref-height: 0; /* Altura preferida del pulgar */
}

.scroll-pane .scroll-bar:horizontal .arrow-button{
    -fx-background-color: transparent;
}


#rutinaVBox {
    -fx-spacing: 10px;
    -fx-padding: 10px;
    -fx-background-color: transparent;
}


#usuarioUser{
    -fx-background-image: url("../IMAGENS/user.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%100%;
    -fx-background-color: transparent;

}
#homeUser{
    -fx-background-color: transparent;
}
#barraUser{
    -fx-background-color: #079c8f;
    -fx-border-radius: 20px;
    -fx-border-width: 2;
    -fx-background-radius: 20px;
    -fx-border-color: #1def66;
}
#rutina{
    -fx-background-image: url("../ICONS/iconoDerutina.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%80%;
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent #1def66 transparent;
    -fx-border-width: 0 0 3 0;
    -fx-padding: 5;
}


