#anchorpane{
    -fx-background-image: url("../IMAGENS/elfondodeStar.png");
    -fx-background-size: cover;            /* Ajusta la imagen para cubrir todo el AnchorPane */
    -fx-background-position: center;
}
#welcomeLabel{
    -fx-font-weight:bold;
    -fx-text-fill: #014218;
}
#continueButton{
    -fx-background-color: linear-gradient(#17c552, #cbe3cf);
    -fx-text-fill: #efefef;
    -fx-font-size: 20;
    -fx-font-weight:bold;
    -fx-background-radius: 15;
}