#anchorpane {
    -fx-background-color: linear-gradient(#000310, #0a145a, #0cd151);
}

#backToLoginButton{
    -fx-background-color: transparent;
    -fx-text-fill: #f6f7fa;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
}
#botnSing {
    -fx-background-color: transparent; /
    -fx-text-fill: #f6f7fa;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
    -fx-border-color: transparent transparent #1def66 transparent;
    -fx-border-width: 0 0 2 0;
}
#signUpButton {
    -fx-background-color: #000209;
    -fx-text-fill: #f6f7fa;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0, 0, 2);
}
#backToLoginButton:hover {
    -fx-text-fill: #0cd151;
    -fx-background-color: transparent;
}
.text-field{
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #0cd151;
    -fx-text-fill: white;
}
#datePicker{
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #0cd151;
    -fx-text-fill: white;
}